<div class="container nesc-info-wrapper">
  <div *ngIf="translate.currentLang == 'bg'">

    <h1>
      За портала
    </h1>

    <hr>

    <br />

    <p>
      Портал „Национална електронна студентска карта“ се поддържа от Националния център за информация и документация
      (НАЦИД). Разработен е с цел да улесни проверката на валидността на електронната студентска карта и актуалния
      статус на действащи студенти и докторанти в Република България. Проверката се извършва по единен академичен номер
      (ЕАН), който е персоналният идентификационен номер на студента или докторанта в системата на висшето образование.
      Данните се извличат в реално време автоматично от Регистъра на всички действащи, прекъснали и завършили студенти и
      докторанти (РДПЗСД). </p>
    <p>Порталът позволява на всеки студент и докторант да активира и да достъпи личния си профил в
      портал „Национална електронна студентска карта“. В профила си студентите и докторантите могат:
    </p>

    <ul style="font-size: 18px;">
      <li>да открият своята национална електронна студентска карта, която да свалят и използват безплатно;</li>
      <li>да прегледат данни за обучението си, подадени от тяхното висше училище или научна организация;</li>
      <li>да заявят някоя от предлаганите от системата услуги.</li>
    </ul>

  </div>

  <div *ngIf="translate.currentLang == 'en'">
    <h1>
      About the portal
    </h1>

    <hr>

    <br />

    <p>
      The "National Electronic Student Card" portal is maintained by the National Center for Information and
      Documentation (NACID). The portal allows users to easily verify the validity of an electronic student card and the
      status of university/PhD students in the Republic of Bulgaria. The verification is done by entering the student's
      unique academic number (UAN) – the personal identification number assigned to each university/PhD student in the
      higher education system. The information for the student is extracted in real time automatically from the Register
      of all active, interrupted and graduated students and doctoral students.
    </p>
    <p>
      Through the portal each university/PhD student can also activate and access their personal account in the
      "National Electronic Student Card" system. When logged in, the student can:
    </p>

    <ul style="font-size: 18px;">
      <li>access his/her national electronic student card, which can then be downloaded and used free of charge;</li>
      <li>view information about their studies submitted by their university/ scientific organization;</li>
      <li>request the services offered by the system.</li>
    </ul>

  </div>
</div>