<div class="custom-modal">
  <div class="d-header">
    <h1 mat-dialog-title>{{ 'user.changePassword.title' | translate}}</h1>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <hr>

  <div mat-dialog-content>
    <form #changePassword="ngForm"
          style="font-size: 14px;">
      <mat-form-field appearance="outline"
                      class="mt-3"
                      style="width: 100%;"
                      floatLabel="default">
        <mat-label>{{ 'user.changePassword.oldPassword' | translate }}</mat-label>
        <input [type]="hide ? 'password' : 'text'"
               name="oldPassword"
               #oldPassword="ngModel"
               [(ngModel)]="model.oldPassword"
               pattern="{{passwordRegex}}"
               matInput
               required>
        <button style="background-color: #ffff;"
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon style="background-color: #ffff;">{{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      class="mt-1"
                      [ngClass]="{'passErr': (newPassword.errors?.['required'] === true || newPassword.errors?.['pattern']) && !newPassword.untouched }"
                      style="width: 100%;"
                      floatLabel="default">
        <mat-label>{{ 'user.changePassword.newPassword' | translate }}</mat-label>
        <input [type]="hideNew ? 'password' : 'text'"
               name="newPassword"
               #newPassword="ngModel"
               [(ngModel)]="model.newPassword"
               pattern="{{passwordRegex}}"
               matInput
               required>
        <mat-error *ngIf="newPassword.hasError">
          {{ 'user.repeatable.passwordRequirements' | translate }}
        </mat-error>
        <button style="background-color: #ffff;"
                mat-icon-button
                matSuffix
                (click)="hideNew = !hideNew"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideNew">
          <mat-icon style="background-color: #ffff;">{{hideNew ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      class="mt-1"
                      [ngClass]="{'passErr': (newPasswordAgain.errors?.['required'] === true || newPasswordAgain.errors?.['pattern']) && !newPasswordAgain.untouched }"
                      style="width: 100%;"
                      floatLabel="default">
        <mat-label>{{ 'user.changePassword.newPasswordAgain' | translate }}</mat-label>
        <input [type]="hideNewAgain ? 'password' : 'text'"
               name="newPasswordAgain"
               #newPasswordAgain="ngModel"
               [(ngModel)]="model.newPasswordAgain"
               pattern="{{passwordRegex}}"
               matInput
               required>
        <mat-error *ngIf="newPasswordAgain.hasError">
          {{ 'user.repeatable.passwordRequirements' | translate }}
        </mat-error>
        <button style="background-color: #ffff;"
                mat-icon-button
                matSuffix
                (click)="hideNewAgain = !hideNewAgain"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideNewAgain">
          <mat-icon style="background-color: #ffff;">{{hideNewAgain ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>

  <hr>

  <div mat-dialog-actions
       class="float-right">
    <button mat-raised-button
            color="primary"
            [disabled]="!changePassword.valid"
            (click)="change()">{{ 'user.changePassword.changeButton' | translate}}
    </button>
  </div>
</div>