.title {
  font-weight: 400;
  font-size: 19px;
  display: flex;
  justify-content: start;
}

.titles {
  border-bottom: 2px solid #d8d8d8;
  display: flex;
  padding-bottom: 16px;
}

.custom-panel {
  max-width: 660px;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  font-weight: 400;
  padding: 20px 20px;
  margin: 10rem auto 1rem auto;
}

.education-section {
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, .05) !important;
}

@media (max-width: 768px) {
  .img {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 554px) {
  .mobile-view {
    display: none;
  }
}

@media screen and (max-width: 553px) {
  .normal-view {
    display: none;
  }

  .title {
    justify-content: center;
  }
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.text-black {
  color: black;
}

.text-gray {
  color: gray;
  font-size: 17px;
}