header {
  padding-top: .5em;
  padding-bottom: .5em;
  display: flex;
}

header .title {
  color: var(--studentcard-primary-color);
}

header .title-logged {
  margin-left: .5em;
}

.fit-and-pointer {
  cursor: pointer;
  width: fit-content;
}

header .title-logged>h5,
header .title-logged>h6,
header .title>h5,
header .title>h6 {
  margin: 0;
}

.logo-link-logged>img {
  width: 2.5em;
}

div.nav {
  width: 100%;
}

main {
  flex: 1 0 auto;
}

::ng-deep .mat-menu-content {
  max-width: fit-content;
}

::ng-deep .mat-menu-panel {
  min-height: initial !important;
}

@media screen and (max-width:1199px) {
  app-menu {
    display: none !important;
  }
}

@media screen and (min-width:1200px) {
  app-menu-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 991px) {
  .logo-link>img {
    width: 3.7em;
  }
}

@media screen and (max-width: 990px) {
  .logo-link>img {
    width: 3.3em;
  }
}