:host {
	font-weight: 600;
	cursor: pointer;
}

ul.main-menu {
	display: flex;
	margin: 0;
}

ul.main-menu>li {
	list-style: none;
	margin-right: .5em;
}

.navbar-toggler {
	color: #ffffff;
	border: none;
	padding: 0;
}

.navbar-toggler:focus {
	outline: 0;
}

.lang {
	background-color: var(--studentcard-primary-color);
	color: #ffffff;
	cursor: pointer;
	align-items: end;
}