<mat-card>
  <mat-card-header style="justify-content: center;">
    <mat-card-title>
      <h5>{{ 'user.activatePassword.title' | translate }}</h5>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #activateUser="ngForm">

      <mat-form-field appearance="outline"
                      class="mb-1"
                      style="width: 100%;"
                      floatLabel="default">
        <mat-label>{{ 'user.activatePassword.birthDate' | translate }}</mat-label>
        <input matInput
               name="studentBirthdate"
               [max]="currentDate"
               [(ngModel)]="model.birthDate"
               [matDatepicker]="birthDateCompare"
               required>
        <mat-datepicker-toggle matSuffix
                               [for]="birthDateCompare"></mat-datepicker-toggle>
        <mat-datepicker #birthDateCompare></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      class="mb-1"
                      [ngClass]="{'passErr': (newPassword.errors?.['required'] === true || newPassword.errors?.['pattern']) && !newPassword.untouched }"
                      style="width: 100%;"
                      floatLabel="default">
        <mat-label>{{ 'user.repeatable.password' | translate }}</mat-label>
        <input matInput
               type="password"
               autocomplete="new-password"
               name="newPassword"
               #newPassword="ngModel"
               [(ngModel)]="model.password"
               pattern="{{passwordRegex}}"
               required>
        <mat-error *ngIf="newPassword.hasError">
          {{ 'user.repeatable.passwordRequirements' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      class="mb-1"
                      [ngClass]="{'passErr': (newPasswordAgain.errors?.['required'] === true || newPasswordAgain.errors?.['pattern']) && !newPasswordAgain.untouched }"
                      style="width: 100%;"
                      floatLabel="default">
        <mat-label>{{ 'user.repeatable.passwordAgain' | translate }}</mat-label>
        <input matInput
               type="password"
               name="newPasswordAgain"
               #newPasswordAgain="ngModel"
               [(ngModel)]="model.passwordAgain"
               pattern="{{passwordRegex}}"
               required>
        <mat-error *ngIf="newPasswordAgain.hasError">
          {{ 'user.repeatable.passwordRequirements' | translate }}
        </mat-error>
      </mat-form-field>

      <button mat-raised-button
              class="mt-1"
              color="primary"
              (click)="activate()"
              [disabled]="!activateUser.valid"
              style="font-weight: 700; width: 100%;">
        {{ 'user.activatePassword.activateButton' | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>